body {
    font-family: sans-serif, arial, helvetica;
}
/* Navigaton bullets styles
 * --------------------------------------- */
 #pp-nav li .active span, .pp-slidesNav .active span {
    background: #bbb;
}


#pp-nav span, .pp-slidesNav span {
    border-color: #bbb !important;
}
/* Sections
	 * --------------------------------------- */
 .section {
    background-attachment: fixed;
    background-size: auto 90%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}
#section1 {
    background-image: url(../imgs/graybac-iphonex.png);
}
#section2 {
    background-image: url(../imgs/colorback-iphonex.png);
}
#section3 {
    background-image: url(../imgs/colourfulnophone.png);
}

#section4 .content {
    top: 100%;
    position: absolute;
    left: 0;
}


	 * --------------------------------------- */

#arrow span {
    display: inline-block;
    position: relative;
    top: -18px;
    -moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
}

#arrow: hover span {
    top: 0;
    color: #FFF;
}
/* Intro texts
	 * --------------------------------------- */
 .intro {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}
.intro h1 {
    font-size: 1.3em;
    font-weight: bold;
    color: #000;
}
#section4 .intro {
    color: #000;
}
/* Content page
	 * --------------------------------------- */
 .header {
    padding-top: 80px;
    text-align: center;
}
.header h1 {
    font-size: 5em;
    font-weight: bold;
    color: #fff;
}
.header p {
    color: #f2f2f2;
    font-size: 1.7em;
}
.page {
    width: 80%;
    margin: 60px auto;
    background: gray;
    padding: 60px;
    -webkit-box-sizing: border-box;
    /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box;
    /* <=28 */
    box-sizing: border-box;
}
.page p {
    font-style: 12px;
    margin: 20px 0 0 0;
    line-height: 1.35em;
    color: #fff;
}